
/* =============================================================================
    ASPECT RATIO
// scss-lint:disable ImportantRule
============================================================================= */

.aspect-4to3 {
  padding-bottom: 75% !important;
}

.aspect-16to9 {
  padding-bottom: 56.25% !important;
}

.aspect-21to9 {
  padding-bottom: 42.85% !important;
}

.aspect-24to9 {
  padding-bottom: 37.5% !important;
}

.aspect-27to9 {
  padding-bottom: 33.33% !important;
}

.aspect-30to9 {
  padding-bottom: 30% !important;
}
