
/* ==========================================================================
    HELPER CLASSES
   ========================================================================== */

/* Clearfix the parent of floated elements. */
.clearfix,
%clearfix {
  @include clearfix;
}

/* Hide an element but leave it available to speaking browsers. */
.sr-only {
  overflow: hidden;
  position: absolute;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  // Make visuallyhidden elements focusable with a keyboard.
  &--focusable {
    &:active,
    &:focus {
      position: static;
      clip: auto;
      height: auto;
      width: auto;
      margin: 0;
      overflow: visible;
    }
  }
}

/* Vertically and horizontally center a thing */
.center {
  @include center;
}

/* Mute an object by reducing its opacity. */
.muted,
%muted {
  opacity: .5;
}

/* Disable inputs and links */
.disabled {
  @extend %muted;
  pointer-events: none;
}
