
/* ==========================================================================
    DOCUMENT ROOT
   ========================================================================== */

html {
  background: $color-root-background;
  box-sizing: border-box;
  min-height: 100%;
  overflow-y: scroll;
  text-size-adjust: 100%;

  @if $opentype == true {
    font-feature-settings: "kern" 1, "liga" 1, "calt" 1, "pnum" 1, "tnum" 0, "onum" 1, "lnum" 0, "dlig" 0;
  }

  // If set in project vars show the typographic baseline visually
  @if $show-baseline == true {

    position: relative;

    &::before {
      content: '';
      display: block;
      background-image: linear-gradient(to bottom, rgba(0, 170, 255, .15) 1px, transparent 1px);
      background-size: 100% spacer(4);
      pointer-events: none;
      position: absolute;

      margin-top: - $baseline-distance;

      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: 1;
    }
  }
}

/*
 * Border-box *all the things*, as suggested in:
 * http:// paulirish.com/2012/box-sizing-border-box-ftw
 */

* {

  &,
  &::before,
  &::after {
    box-sizing: inherit;
  }

  + * {

    &:not(li) {
      // Set the default vertical rhythym on all elements
      margin-top: spacer();
    }
  }
}
