
/* ==========================================================================
    LINKS
   ========================================================================== */

a {
  @include transition(color .3s ease);
  color: $color-link;

  &:hover,
  &:focus {
    color: $color-link-hover;
  }

  &:active,
  &.active {
    color: darken($color-link-hover, 10%);
  }
}
