
/* ==========================================================================
    QUOTES
   ========================================================================== */

/* BLOCK QUOTES */
blockquote {
  border-left: 2px solid $color-border;
  max-width: ($width-copy - 2em);
  padding: 0 spacer();

  &::before,
  &::after {
    content: '';
  }
}

/* CITATIONS */
cite {
  @include font-size($scale-down1);
  display: block;
  font-weight: $weight-strong;

  &::before {
    color: $color-border;
    content: '\2014';
    margin-right: .25em;
  }
}

/* INLINE QUOTES */
q {
  quotes: '\2018' '\2019';

  &::before {
    content: '\2018';
  }

  &::after {
    content: '\2019';
  }
}
