
/* ==========================================================================
    CARD
   ========================================================================== */

.card {
  @include border();
  @include box-shadow();
  background: $color-background-root;

  &-content {
    @extend %margin-off;
    padding: spacer(4);
  }

  &-header {
    @extend %margin-off;
  }

  &-img {
    border-bottom: 1px solid $color-border;
  }
}
