
/* ==========================================================================
    CLOSE TOGGLE
   ========================================================================== */

.close {
  padding: spacer(1.5);
  margin: 0;
  position: absolute;
  right: .25em;
  top: .25em;
}
