
/* ==========================================================================
	FLEX GRID
   ========================================================================== */

 .grid {
   display: flex;
   flex-flow: row wrap;

   &-item {
     @extend %margin-off;
     flex: 0 1 auto;
   }

   &--grow {
     .grid-item {
       flex: 1 1 auto;
     }
   }

   &--bottom {
     align-items: flex-end;
   }

   &--middle {
     align-items: center;
   }

   &--padded {
     margin: 0 0 0 spacer(-4);

     > .grid-item {
       padding: spacer(4) 0 0 spacer(4);
     }
   }
 }
