
/* ==========================================================================
    LISTS
   ========================================================================== */

.list--inline,
%list--inline {
  @extend %list--unstyled;
  margin-left: -.75em;
  margin-right: -.75em;

  li {
    display: inline-block;
    margin: 0 spacer(2);
  }
}

.list--styled {
  @extend %list--unstyled;
  max-width: $width-copy;

  li {

    &:before {
      content: '\002714';
      color: $color-success;
      margin: 0 spacer(2) 0 0;

      @include mq($min, $md) {
        margin: 0 0 0 spacer(-4);
        position: absolute;
      }
    }
  }
}

.list--underlined {
  @extend %list--unstyled;

  li {
    padding: 0 0 spacer(2);

    &:not(:last-child) {
      @include box-shadow(0 1px 0 0 $color-border, null);
    }
  }
}

.list--striped {
  @extend %list--unstyled;

  li {
    padding: spacer(2) 0;

    &:nth-of-type(odd) {
      background-color: $color-background;
    }
  }
}

.list--unstyled,
%list--unstyled {
  list-style-type: none;
}
