
/* ==========================================================================
    NAVIGATION
   ========================================================================== */

/* Take our .list--inline style and make it more finger-friendly. */
.nav,
%nav {

  @extend %list--inline;
  font-weight: $weight-strong;

  a {
    display: block;
    margin: 0;
    text-decoration: none;
//    padding: spacer(2) spacer(2);
  }
}
