
/* ==========================================================================
	SECTION (CONTENT)
============================================================================= */

// Gives the content sections some breathing space.
.section {

  @extend %margin-off;
  padding-top: spacer(4);
  padding-bottom: spacer(4);

  @include mq($min, $lg) {
    padding-top: spacer(8);
    padding-bottom: spacer(8);
  }
}
