
/* ==========================================================================
	FLEX GRID
   ========================================================================== */

.grid {
  display: flex;
  flex-flow: row wrap;

  &-item {
    @extend %margin-off;
    flex: 0 1 auto;
  }

  &--grow {
    .grid-item {
      flex: 1 1 auto;
    }
  }

  &--middle {
    align-items: center;
  }

  &--padded {

    margin-left: spacer(-4);

    > .grid-item {
      margin-top: spacer();
      padding-left: spacer(4);
    }
  }
}
