<footer role="contentinfo" class="footer-row section ">
    <div class="footer-content container">
        <div class="grid">
          <div class="grid-item lg-three-quarters">
            <nav class="nav--secondary" role="navigation" aria-label="secondary-navigation">
              <h1 class="sr-only">Footer Menu</h1>
              <ul class="nav margin-off">
                  <li>
                    <a class="link-twitter" href="//github.com/{{ site.owner.github_username }}/{{ site.owner.github_repo }}" title="Check out this repo on Github" target="_blank">
                      Github
                    </a>
                  </li>
                  <li>
                    <a class="link-twitter" href="//twitter.com/{{ site.owner.twitter_username }}" title="Follow us on Twitter" target="_blank">
                      Twitter
                    </a>
                  </li>
              </ul>
            </nav>
            <p>
              <small>
                  Copyright &copy; 2015&mdash;2016 <a href="https://twitter.com/nternetinspired">@nternetinspired</a> {{ site.disclaimer }}
              </small>
            </p>
          </div>
        </div>
    </div>
</footer>
