<header role="banner" class="header-row section">
  <div class="container">
    <div class="grid grid--padded">
      <div class="grid-item md-one-third">
        <div class="logo" itemscope itemtype="http://schema.org/Organization">
          <a class="logo-link fw-700" href="{{ "/" | prepend: site.baseurl }}" itemprop="url">{{ site.company }}</a>
        </div>
      </div>
      <div class="grid-item md-two-thirds">
        <nav class="nav--primary md-align-right" role="navigation" aria-label="primary-navigation">
          <h1 class="sr-only">Main Menu</h1>
          <ul class="nav margin-off">

          {% comment %}
          The code below dynamically generates a menu of pages with
          `nav: primary` in the front-matter.
          {% endcomment %}

          {% assign pages_list = site.pages | sort:"url" %}
          {% for node in pages_list %}
            {% if node.title != null %}

            {% if node.nav == "primary" %}
            <li>
              <a class="{% if page.url == node.url %} active{% endif %}" href="{{ node.url | prepend: site.baseurl }}">
                {{ node.path | remove:'.html' | replace:'.md' | capitalize }}
              </a>
            </li>
            {% endif %}

            {% endif %}
          {% endfor %}

          </ul>
        </nav>
      </div>
    </div>
  </div>
</header>
