
{% capture day %}{{ post.date | date: "%-d" }}{% endcapture %}
{% capture dayLastTwoDigits %}{{ day | modulo: 100 }}{% endcapture %}
{% if dayLastTwoDigits >= "11" and dayLastTwoDigits <= "13" %}
    {% assign ordinal = "th" %}
{% else %}
    {% capture dayLastDigit %}{{ day | modulo: 10 }}{% endcapture %}
    {% case dayLastDigit %}
        {% when "1" %}
            {% assign ordinal = "st" %}
        {% when "2" %}
            {% assign ordinal = "nd" %}
        {% when "3" %}
            {% assign ordinal = "rd" %}
        {% else %}
            {% assign ordinal = "th" %}
    {% endcase %}
{% endif %}
{% capture ordinalDay %}{{ day }}<sup>{{ ordinal }}</sup>{% endcapture %}
