
{% for post in site.posts %}
    {% if post.url == page.url %}
        {% assign post_index0 = forloop.index0 %}
        {% assign post_index1 = forloop.index %}
    {% endif %}
{% endfor %}

{% for post in site.posts %}
    {% if post_index0 == forloop.index %}{% assign next_post = post %}{% endif %}
    {% if post_index1 == forloop.index0 %}{% assign prev_post = post %}{% endif %}
{% endfor %}

<nav>

    <ul class="pager">

          {% if prev_post %}
          <li class="previous">
              <a class="btn" href="{{ prev_post.url }}"><span aria-hidden="true">&larr;</span> {{ prev_post.title }}</a>
          </li>
          {% endif %}

          {% if next_post %}
          <li class="next">
              <a class="btn" href="{{ next_post.url }}">{{ next_post.title }} <span aria-hidden="true">&rarr;</span></a>
          </li>
          {% endif %}

    </ul>

</nav>
