
{% include ordinals.html %}

<article id="{{ post.title | downcase | replace:' ','-' | replace:',','' | strip_html }}" itemscope itemtype="http://schema.org/Article">

    <header>
        <h2 class="article-header h1" itemprop="name">
            <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h2>

        <div class="post-meta muted">
            <time datetime="{{ post.date | date_to_xmlschema }}" itemprop="datePublished">{{ ordinalDay }} {{ post.date | date: "of %B, %Y" }}</time>
            {% if post.author %} • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ post.author }}</span></span>{% endif %}
            {% if post.meta %} • {{ post.meta }}{% endif %}
            {% if site.disqus.shortname and site.disqus.counts and post.comments %}{% include disqus-counts.html %}{% endif %}
        </div>
    </header>

    <div class="post-excerpt" itemprop="description">
        {{ post.excerpt | markdownify }}
    </div>

</article>
