/* ==========================================================================
    ELEMENT WIDTHS
    // scss-lint:disable EmptyLineBetweenBlocks PlaceholderInExtend SingleLinePerProperty
   ========================================================================== */

@mixin widths($namespace: '') {

  // Whole
  .#{$namespace}one-whole { width: 100%;}

  // Halves
  .#{$namespace}one-half { width: 50%;}

  // Thirds
  .#{$namespace}one-third { width: 33.333%; }
  .#{$namespace}two-thirds { width: 66.666%; }

  // Quarters
  .#{$namespace}one-quarter { width: 25%; }
  .#{$namespace}two-quarters { @extend .#{$namespace}one-half; }
  .#{$namespace}three-quarters { width: 75%; }

  // Fifths
  .#{$namespace}one-fifth { width: 20%; }
  .#{$namespace}two-fifths { width: 40%; }
  .#{$namespace}three-fifths { width: 60%; }
  .#{$namespace}four-fifths { width: 80%; }

  // Sixths
  .#{$namespace}one-sixth         { width: 16.666%; }
  .#{$namespace}two-sixths        { @extend .#{$namespace}one-third; }
  .#{$namespace}three-sixths      { @extend .#{$namespace}one-half; }
  .#{$namespace}four-sixths       { @extend .#{$namespace}two-thirds; }
  .#{$namespace}five-sixths       { width: 83.333%; }

  // Push classes, enabled in variables.scss
  @if $grid-push {

    .#{$namespace}push-one-half { margin-left: 50%; }

    .#{$namespace}push-one-third { margin-left: 33.333%; }
    .#{$namespace}push-two-thirds { margin-left: 66.666%; }

    .#{$namespace}push-one-quarter { margin-left: 25%; }
    .#{$namespace}push-two-quarters { @extend .#{$namespace}push-one-half; }
    .#{$namespace}push-three-quarters { margin-left: 75%; }

    .#{$namespace}push-one-fifth { margin-left: 20%; }
    .#{$namespace}push-two-fifths { margin-left: 40%; }
    .#{$namespace}push-three-fifths { margin-left: 60%; }
    .#{$namespace}push-four-fifths { margin-left: 80%; }

    .#{$namespace}push-one-sixth         { margin-left: 16.666%; }
    .#{$namespace}push-two-sixths        { @extend .#{$namespace}push-one-third; }
    .#{$namespace}push-three-sixths      { @extend .#{$namespace}push-one-half; }
    .#{$namespace}push-four-sixths       { @extend .#{$namespace}push-two-thirds; }
    .#{$namespace}push-five-sixths       { margin-left: 83.333%; }
  }
}

@include widths();

@include mq($min, $sm) {
  @include widths('sm-');
}

@include mq($min, $md) {
  @include widths('md-');
}

@include mq($min, $lg) {
  @include widths('lg-');
}

@include mq($min, $xl) {
  @include widths('xl-');
}
